#logo1 {
        margin-left: 3.819% ;  /* 55px/1440 = 0.0381  */
        margin-top: 2.305% ; /* 70px/3036 = 0.02305 */
    }
    
    #b1 {
        padding: 9px 25px;
        float: right;
        margin-right: 3.819%;
        margin-top: 2.305%;
    }
    #b2 {
        padding: 9px 25px;
        float: right;
        margin-top: 2.305%;
    }
    #b3, #b4 {
        padding: 20px 39px;
    }
    #circle{
        padding: 8px 10px 6px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
    }
    #b6 {
        padding: 15px;
        width: 95%;
        margin-bottom: 10px; 
    }
    #bS {
        position: absolute;
        right: 16px;
        top: 0.8px;
    }
    
    .button1 {
        background-color: white;
        color: #86939e;
        border: 2px solid #e1e8ee;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600; 
        font-family: font-family: 'Roboto', sans-serif;
    }
    .button2 {
        background-color: white;
        color: #86939e;
        border: 2px solid white;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600; 
        font-family: font-family: 'Roboto', sans-serif;
    }
    .button3 {
        background-color: white;
        color: #86939e;
        border: 2px solid #e1e8ee;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 700; 
        font-family: font-family: 'Roboto', sans-serif;
    }
    .button4 {
        background-color: #7dc855;
        color: white;
        border: 2px solid #7dc855;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 700; 
        font-family: font-family: 'Roboto', sans-serif;
    }
    .button5 {
        background-color: white;
        border: 2px solid white;
    }
    .button6 {
        background-color: #7dc855;
        color: white;
        border: 2px solid #7dc855;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 700; 
        font-family: font-family: 'Roboto', sans-serif;
    }
    .buttonS {
        background-color: white;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }
    button:hover {
        background-color: #e1e8ee;
    }
    button.button4:hover {
         background-color: #659f46;
    }
    button.button6:hover {
         background-color: #659f46;
    }
    
    header {
        margin-top: 10.41%; /* 150px/1440 = 0.104 */
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    #first {
        font-size: 52px;
        color: #43484d;
    }
    #second {
        font-size: 22px;
        color: #5e6977;
        width: 45%;
        margin: auto;
    }

    #graph {
        margin-top: 3.952%;
        text-align: center;
        height: 600px;
    }
    
    #abstract {
        margin-top: 3.952%;
        text-align: center;
        margin-bottom: 9%;
    }
    #summary {
        font-size: 32px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #43484c;
        margin-bottom: 2.305%;
        width: 67%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #line {
        width: 49%;
        display: inline-block;
    }
    
    #quote {
        display: none;
        width: 100%;
        margin-bottom: 5%;
    }
    #quote2 {
        width: 80%;
        margin: auto;
    }
    
    aside {
        border: 0px;
    }
    #profile {
        max-width:100%;
        max-height:100%;
        margin-left: -30px;
    }
    article {
        margin: 0px;
        font-size: 32px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #43484d;
        padding-top: 18px;
        margin-left: -23px;
        text-align: initial;
    }
    #name, #about {
        font-size: 18px;
        font-weight: 400; 
        font-family: 'Roboto', sans-serif;
        color: #43484d;
    }
    #name {
        padding-top: 30px;
    }
    #about {
        font-size: 16px;
        color: #86939e;
    }
    
    .carousel-control.right, .carousel-control.left {
        background-image: none;
        color: #43484d;
    }
   .carousel-control.left .glyphicon {
        left: 0px;
        margin-left: 20%;
    }
    .carousel-control.right .glyphicon {
        right: 0px;
        margin-right: 20%;
    }
    
    #price {
        background-color: #f4f4f4;
        padding-bottom: 70px;
    }
    #price2 {
        width: 80%;
        margin: auto;
        padding-top: 70px;
    }
    
    #title {
        font-size: 32px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #43484c;
        text-align: center;
        padding-top: 80px; 
    }
    #heading {
        font-size: 32px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #43484d;
        padding-top: 40px;
    }
    #info {
        font-size: 16px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #86939e;
        width: 90%;
        margin: auto;
        padding-bottom: 50px;
    }
    #amountS {
        font-size: 52px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #7dc855;
        float: left;
        width: 40%;
        padding-left: 10px;
    }
    #amount {
        font-size: 52px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #43484d;
        float: left;
        width: 40%;  
    }
    #data {
        font-size: 14px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #86939e;
        margin-left: 45%;
        text-align: initial;
        padding-right: 15px;
        padding-top: 7px;
    }
    .panel {
        min-height: 427px;
    }
    .panel-heading {
        min-height: 232px;
    }
    .panel-heading, .panel-body {
        background-color: white !important;
    }
    .panel:hover {
        box-shadow: 2px 3px 5px rgba(0,0,0, .2);
        border: 2px solid #cee0ee; 
    }
    
    #subscribe {
        margin: auto;
        margin-top: 100px;
        margin-bottom: 70px;
    }
    #subtitle {
        font-size: 52px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #43484d;
        text-align: center;
    }
    #subinfo {
        font-size: 22px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #86939e;
        text-align: center;
        padding-bottom: 20px;
        margin: auto;
        width: 36%;
    }
/*    .inner-addon {
        position: relative;
    }
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }
    .left-addon .glyphicon  { 
        left:  0px;
    }
    .left-addon input  { 
        padding-left:  40px;
    }*/
    #subbar {
        margin: auto;
        width: 35%;
    }
    #part1 {
        background-color: white;
        border-right-width: 0px;
        border-right-style: none;
        color: #c7cbd0;
        padding-left: 20px;
    }
    #send {
        color: #d1dae2;
    }
    #part2 {
        border-left-width: 0px;
        border-left-style: none;
        font-size: 16;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #part3 {
        font-size: 16;
        font-weight: 400; 
        font-family: 'Roboto', sans-serif;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #7dc855; 
    }
    
    footer {
        padding-top: 60px;
        padding-bottom: 30px;
        background-color: #86939e;
    }
    #bot {
        width: 80%;
    }
    a, #cpy{
        font-size: 16px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: white;
    }
    #cpy {
        text-align: right;
    }
    #center {
        text-align: center;
    }
    #format {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #main.container-fluid {
        padding: 0px;
    }
    #address {
        color: red;
        padding-left: 50px;
    }
    
    .slideanim {
        visibility:hidden;
    }
    .slide {
        animation-name: slide;
        -webkit-animation-name: slide; 
        animation-duration: 1s; 
        -webkit-animation-duration: 1s;
        visibility: visible; 
    }
    @keyframes slide {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        } 
    }
    @-webkit-keyframes slide {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }
    
    
@media only screen and (max-width: 600px) {
    #b2 {
        padding: 9px 25px;
        clear: right;
        margin-top: 2.305%;
    }
    header {
        margin-top: 30%; 
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    #subbar {
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
    }
    #part1 {
        background-color: white;
        border-right-width: 0px;
        border-right-style: none;
        color: #c7cbd0;
    }
    #send {
        color: #e1e8ee;
    }
    #part2 {
        border-left-width: 0px;
        border-left-style: none;
        font-size: 16;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
        min-width: 100px;
    }
    #part3 {
        font-size: 16;
        font-weight: 400; 
        font-family: 'Roboto', sans-serif;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #7dc855; 
    }
    #summary {
        font-size: 32px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #43484c;
        margin-bottom: 2.305%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #subinfo {
        font-size: 22px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #86939e;
        text-align: center;
        padding-bottom: 20px;
        margin: auto;
        width: 90%;
    }
}
@media only screen and (max-width: 1250px) {
    #subbar {
        margin: auto;
        width: 70%;
    }
    #amountS {
        font-size: 52px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #7dc855;
        margin: auto;
        width: 100%;
    }
    #amount {
        font-size: 52px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #43484d;
        margin: auto;
        width: 100%;  
    }
    #data {
        clear: both;
        font-size: 14px;
        font-weight: 300; 
        font-family: 'Roboto', sans-serif;
        color: #86939e;
        padding-top: 7px;
        margin: auto;
        text-align: center;
    }
}
